

@*@inherits BlazorBase*@

    <style>
        
    </style>


    <div>

        <div class="text-center">
            <p class="h3 font-weight-bold text-monospace " style="padding-top: 1.5em; padding-bottom: 1em ">@ReportCertificate.Name<samp>试验报告</samp></p>
        </div>

        <table>
            <tbody class="text-left text-monospace font-weight-normal">
                <tr>
                    <td>
                        <p>生产厂家：<span>@ReportCertificate.Manufacturer</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p> 型号：<span></span></p>
                    </td>
                </tr>
            </tbody>
        </table>

        @{

            var switch_on = (ReportEnum)Enum.Parse(typeof(ReportEnum), @ReportCertificate.ReprotFileMatching);
            switch (switch_on)
            {
                case ReportEnum.绝缘杆10kV试验报告:
                    <TableComponent3 Number="@ReportCertificate.Numbel" />
                    break;
                case ReportEnum.绝缘杆35kV试验报告:
                    <TableComponent12 Number="@ReportCertificate.Numbel" />
                    break;
                case ReportEnum.绝缘杆110kV试验报告:
                    <TableComponent13 Number="@ReportCertificate.Numbel" />
                    break;
                case ReportEnum.验电器10kV试验报告:
                    <TableComponent2 Number="@ReportCertificate.Numbel" />
                    break;
                case ReportEnum.验电器35kV试验报告:
                    <TableComponent10 Number="@ReportCertificate.Numbel" />
                    break;
                case ReportEnum.验电器110kV试验报告:
                    <TableComponent11 Number="@ReportCertificate.Numbel" />
                    break;
                case ReportEnum.接地线10kV试验报告:
                    <TableComponent6 Number="@ReportCertificate.Numbel" />
                    break;
                case ReportEnum.接地线35kV试验报告:
                    <TableComponent14 Number="@ReportCertificate.Numbel" />
                    break;
                case ReportEnum.接地线110kV试验报告:
                    <TableComponent15 Number="@ReportCertificate.Numbel" />
                    break;
                case ReportEnum.安全帽试验报告:
                    <TableComponent1 Number="@ReportCertificate.Numbel" />
                    break;
                case ReportEnum.绝缘靴试验报告:
                    <TableComponent16 Number="@ReportCertificate.Numbel" />
                    break;
                case ReportEnum.绝缘手套试验报告:
                    <TableComponent4 Number="@ReportCertificate.Numbel" />
                    break;
                case ReportEnum.绝缘胶垫试验报告:
                    <TableComponent5 Number="@ReportCertificate.Numbel" />
                    break;
                case ReportEnum.安全带试验报告:
                    <TableComponent7 Number="@ReportCertificate.Numbel" />
                    break;
                case ReportEnum.脚扣试验报告:
                    <TableComponent8 Number="@ReportCertificate.Numbel" />
                    break;
                case ReportEnum.梯子试验报告:
                    <TableComponent9 Number="@ReportCertificate.Numbel" />
                    break;
                @*default:
                    <TableComponent1 Number="@ReportCertificate.Numbel" />
                    break;*@

            }
        }




        <div class="div2">
            <img src="/css/image/log.png" style="width:75%;height:auto;">
        </div>
        <table class="tab text-left">
            <tbody>
                <tr>
                    <td class="w-25"><p>试验人员:</p></td>
                    <td class="w-auto">
                        <p> <span>@ReportCertificate.TestPersonnel</span></p>
                    </td>
                </tr>
                <tr>
                    <td class="w-25"><p>试验日期:</p></td>
                    <td class="w-auto">
                        <p><span>@ReportCertificate.TestDateTime.ToString("yyyy年MM月dd日") </span></p>
                    </td>
                </tr>
                <tr>
                    <td class="w-25"><p>试验环境:</p></td>
                    <td class="w-auto">
                        <p><span>@ReportCertificate.TestSurroundings</span></p>
                    </td>
                </tr>
                <tr>
                    <td class="w-25"><p>试验周期:</p></td>
                    <td class="w-auto">
                        <p><span>@DateDiff() 天</span></p>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>


@code{

    //[Parameter]
    //public string Title { get; set; }

    //[Parameter]
    public string Number { get; set; }

    [Parameter]
    public Certificate ReportCertificate { get; set; }



    private int DateDiff()
    {
        DateTime start = Convert.ToDateTime(ReportCertificate.TestDateTime.ToShortDateString());
        DateTime end = Convert.ToDateTime(ReportCertificate.VNextTestDateTime.ToShortDateString());
        TimeSpan sp = end.Subtract(start);
        return sp.Days;
    }
}