

@*@inherits BlazorBase*@

    <style>
        
    </style>


    <div>

        <div class="text-center">
            <p class="h3 font-weight-bold text-monospace " style="padding-top: 1.5em; padding-bottom: 1em ">@ReportCertificate.Name<samp>试验报告</samp></p>
        </div>

        <table>
            <tbody class="text-left text-monospace font-weight-normal">
                <tr>
                    <td>
                        <p>生产厂家：<span>@ReportCertificate.Manufacturer</span></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p> 型号：<span></span></p>
                    </td>
                </tr>
            </tbody>
        </table>

        @switch (ReportCertificate.ReprotFileMatching)
        {
            case "":
                break;
            default:
                <TableComponent1 Number="@ReportCertificate.Numbel" />
                break;
        }




        <div class="div2">
            <img src="/css/image/log.png" style="width:75%;height:auto;">
        </div>
        <table class="tab text-left">
            <tbody>
                <tr>
                    <td class="w-25"><p>试验人员:</p></td>
                    <td class="w-auto">
                        <p> <span>@ReportCertificate.TestPersonnel</span></p>
                    </td>
                </tr>
                <tr>
                    <td class="w-25"><p>试验日期:</p></td>
                    <td class="w-auto">
                        <p><span>@ReportCertificate.TestDateTime </span></p>
                    </td>
                </tr>
                <tr>
                    <td class="w-25"><p>试验环境:</p></td>
                    <td class="w-auto">
                        <p><span>@ReportCertificate.TestSurroundings</span></p>
                    </td>
                </tr>
                <tr>
                    <td class="w-25"><p>试验周期:</p></td>
                    <td class="w-auto">
                        <p><span>@DateDiff() 天</span></p>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>


@code{

    //[Parameter]
    //public string Title { get; set; }

    //[Parameter]
    public string Number { get; set; }

    [Parameter]
    public Certificate ReportCertificate { get; set; }



    private int DateDiff()
    {
        DateTime start = Convert.ToDateTime(ReportCertificate.TestDateTime.ToShortDateString());
        DateTime end = Convert.ToDateTime(ReportCertificate.VNextTestDateTime.ToShortDateString());
        TimeSpan sp = end.Subtract(start);
        return sp.Days;
    }
}