
@page "/SurveyPrompt"

@inject NavigationManager   _UriHelper
@inject ConfigurationData _ConfigurationData

<style>
    .parentDiv {
        position: relative;
    }

    .div1 {
        position: absolute;
        z-index: 1;
    }

    .div2 {
        position: absolute;
        z-index: 2;
        padding-bottom: 12rem;
        padding-left:7rem;
    }
    .tab{color:black;font-size:small;font-family:Consolas;table-layout:fixed;min-width:18rem;}
    .mydiv {
        height: 23rem; border-radius: 15px; font-size:smaller; position: relative;
    }
    .mydiv2 {
        text-wrap: normal;
        border-bottom: 1px solid #f3be10;
        text-align: left;
        padding-top: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        /*padding-bottom: 0rem;
        margin-top:0.5rem;
        margin-bottom:0rem;*/
    }
</style>

@*<div class="parentDiv">
        <div class="div1">
            我在下面
        </div>
        <div class="div2">
            我在上面
        </div>
    </div>*@

<div class="text-left">


    <div class=" shadow-sm bg-white rounded w-100  text-monospace mydiv ">

        @*<p class="h5 font-weight-bold text-monospace " style="padding-top:1.5em;padding-bottom:1em">安全工器具试验合格证</p>*@

        @*<dl class="row text-left ">
            <dt class="col-md-4 col-5 text-left">产品名称:</dt>
            <dd class="col-md-8 col-7 text-left">@AtCertificate.Name</dd>

            <dt class="col-md-4 col-5  text-left">产品编号:</dt>
            <dd class="col-md-8 col-7 text-left ">@AtCertificate.Numbel</dd>

            <dt class="col-md-4 col-5 text-left">试验日期:</dt>
            <dd class="col-md-8 col-7 text-left">@AtCertificate.TestDateTime.ToString("yyyy年MM月dd日")</dd>

            <dt class="col-md-4 col-5 text-left">下次试验:</dt>
            <dd class="col-md-8 col-7">@AtCertificate.VNextTestDateTime.ToString("yyyy年MM月dd日")</dd>

            <dt class="col-md-4 col-5 text-left">试验人员:</dt>
            <dd class="col-md-8 col-7">@AtCertificate.TestPersonnel</dd>
        </dl>*@
        @if (AtCertificate != null)
        {

          
            <div class="mydiv2  "><p class="font-weight-normal text-monospace text-wrap">所属单位:<span class="font-weight-bold text-wrap">@AtCertificate.TD</span></p></div>

            <div class="mydiv2  "><p class="font-weight-normal text-monospace text-wrap">产品名称:<span class="font-weight-bold text-wrap">@AtCertificate.Name</span></p> </div>
            <div class="mydiv2  "><p class="font-weight-normal text-monospace text-wrap">产品编号:<span class="font-weight-bold text-wrap">@AtCertificate.Numbel</span></p></div>
            <div class="mydiv2  "><p class="font-weight-normal text-monospace text-wrap">试验日期:<span class="font-weight-bold text-wrap">@AtCertificate.TestDateTime.ToString("yyyy年MM月dd日")</span></p></div>
            <div class="mydiv2  "><p class="font-weight-normal text-monospace text-wrap">下次试验:<span class="font-weight-bold text-wrap">@AtCertificate.VNextTestDateTime.ToString("yyyy年MM月dd日")</span></p></div>
            <div class="mydiv2  ">
                <p class="font-weight-normal text-monospace text-wrap">试验人员:<span class="font-weight-bold text-wrap">@AtCertificate.TestPersonnel</span></p>

            </div>

            <div class="mydiv2  ">
                <p class="font-weight-normal">校验单位:<span class="font-weight-bold">@AtCertificate.ToTD</span></p>

            </div>


        }

    </div>

    @*<div class=" container text-center ">
        color: #FEDB03; background-color:#8B987A"


        <div class="div2">
                <img src="/css/image/log.png">
            </div>
    </div>*@



  
</div>







@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Title { get; set; }


    [Parameter]
    public Certificate AtCertificate { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var index = _UriHelper.Uri;

      //  AtCertificate=GetCertificate(Title);

    }


    public Certificate GetCertificate(string Number)
    {
        //   var Certificates = ;

        var atCertificate = _ConfigurationData.ListCertificates.FindLast(f => f.Guid == Number);
        if (atCertificate != null)
        {
            return atCertificate;
        }
        else
        {
            return null;
        }
    }


}
